.home-container {
  display: flex;
  background-color: var(--main-background);
  height: 100vh;
  width: 100%;
}
.code-img {
  margin: 20px 20px 40px 20px;
  width: 50px;
  height: 50px;
}
.home-text {
  color: var(--primary);
  margin: 5px 20px 20px 20px;
  font-size: 60px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  width: 5.6em;
  height: 1.1em;
  white-space: nowrap;
}
.animate-text {
  animation: line 2s steps(11) 1s 1 normal both,
    blinkTextCursor 700ms steps(11) infinite normal;
}
@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 5.6em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
p {
  color: var(--primary);
  margin: 5px 0px 0px 20px;
  font-size: 14px;
}
span {
  color: var(--secondary);
}
.button-hireme {
  margin: 60px 20px;
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid var(--secondary);
  color: var(--primary);
  transition: all 0.2s ease;
}
.button-hireme:hover {
  color: #000;
  background-color: var(--primary);
  cursor: pointer;
}
.left-container {
  margin-top: 30px;
  padding: 60px 40px 0px 80px;
}
.right-container {
  margin-top: 30px;
  position: relative;
  width: 30vw;
  height: 100vh;
}
.right-container .my-pic {
  margin: 30px;
  mix-blend-mode: lighten;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 10px;
  left: -60px;
}
