.home-section {
  display: flex;
  background-color: var(--main-background);
  height: 100vh;
  width: 100%;
}
.code-img {
  margin: 20px 20px 40px 20px;
  width: 50px;
  height: 50px;
}
.home-text {
  color: var(--primary);
  margin: 5px 20px 20px 20px;
  font-size: 60px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  width: 5.6em;
  height: 1.1em;
  white-space: nowrap;
}
.animate-text {
  animation: line 2s steps(11) 1s 1 normal both,
    blinkTextCursor 700ms steps(11) infinite normal;
}
@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 5.6em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
p {
  color: var(--primary);
  margin: 5px 0px 0px 20px;
  font-size: 14px;
}
span {
  color: var(--secondary);
}
.btn-hireme {
  margin: 60px 20px;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  color: var(--primary);
  transition: all 0.2s ease;
}
.btn-hireme:hover {
  border: 2px solid var(--primary);
  transform: scale(1.2);
  cursor: pointer;
}
.btn-resume {
  margin: 60px 20px;
  padding: 10px 25px;
  background-color: rgba(48, 48, 48, 0.623);
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.2s ease;
}
.btn-resume:hover {
  border: 2px solid var(--secondary);
  transform: scale(1.2);
  cursor: pointer;
}
.left-container {
  margin-top: 30px;
  padding: 60px 40px 0px 80px;
}
.right-container {
  margin-top: 30px;
  position: relative;
  width: 30vw;
  height: 100vh;
}
.right-container .my-pic {
  margin: 30px;
  mix-blend-mode: lighten;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 10px;
  left: -60px;
}
.btn-scroll {
  background-color: rgb(220, 245, 255);
  border: 1px solid var(--secondary);
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  display: none;
  box-shadow: 2px 2px 5px 0px rgb(92, 92, 92);
}

.btn-scroll.visible {
  display: inline;
}
