.myprofile-section {
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200vh;
}
/* About Me */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: var(--main-background);
  margin-bottom: 40px;
  height: 500px;
  width: 100%;
}
.about-me:hover .my-pic-container {
  background-color: transparent;
  padding: 40px;
}
.about-me:hover .text-about-me {
  border: 1px solid var(--secondary);
}
.my-pic-container {
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 50%;
  padding: 5px;
  margin: 20px;
  transition: all 0.4s ease-out;
}
/* .my-pic-container:hover {
  border: 2px solid var(--secondary);
  background-color: transparent;
  padding: 20px;
  transform: scale(1em);
} */
.my-pic-container .my-pic {
  width: 300px;
  height: 300px;
  transform: scaleX(-1);
  z-index: 1;
  border-radius: 50%;
}
.text-about-me {
  padding: 40px;
  border: 1px solid var(--primary);
  width: 600px;
  color: #fff;
  font-size: 17px;
  margin: 40px;
  transition: all 0.4s ease-out;
}
/* Text Container */
.text-profile {
  color: #fff;
  font-size: 17px;
}
.info {
  margin-top: 10px;
  color: rgb(206, 206, 206);
}
.course {
  color: rgb(255, 255, 255);
  font-style: italic;
}
.line-bottom {
  width: auto;
  height: 1px;
  margin: 15px 0;
  box-shadow: 0px 1px 2px 0px rgb(190, 190, 190);
}
/* Tabs Events */
.tab {
  font-weight: bold;
  margin: 20px 0px;
  padding: 10px 0px 10px 40px;
  color: rgb(202, 202, 202);
  font-size: 17px;
  cursor: pointer;
}
.tab-inactive:hover {
  color: rgba(255, 255, 255, 0.8);
}
.tab-active {
  background-color: var(--primary);
  color: var(--main-background);
}
.tab-content-inactive {
  display: none;
}

/* Containers */
.personal-details {
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(300px + 600px);
}
.mp-left-container {
  line-height: 32px;
  padding: 40px 0;
  height: 450px;
  width: 300px;
  background-color: rgba(150, 150, 150, 0.158);
}
.mp-right-container {
  align-content: center;
  overflow-y: auto;
  line-height: 32px;
  padding: 50px;
  height: 450px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
}
/* .mp-right-container > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.mp-right-container::-webkit-scrollbar {
  width: 3px;
  background-color: var(--primary);
}
.mp-right-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}
/* Misc */
.dot {
  width: 5px;
  height: 5px;
  margin: 2px;
  align-self: center;
  color: var(--secondary);
}
.pi-header {
  transform: translateX(-20px);
}
/* Hover effects */
.myprofile-section:hover .sections-main-header {
  color: #fff;
}
.myprofile-section:hover .header-line {
  background-color: rgb(192, 192, 192);
}

/* Schedule Tab */
.mp-right-container > div:nth-child(4) {
  padding-top: 60px;
  width: 100%;
  height: 100%;
}
.mp-right-container > div:nth-child(4) > div {
  width: 100%;
  height: auto;
  background-color: rgb(68, 68, 68);
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto auto;
}
.days {
  color: var(--secondary);
  font-size: 14px;
  text-align: center;
}
.time {
  text-align: center;
  font-size: 14px;
  grid-row-start: 2;
  grid-row-end: 4;
}

@media only screen and (max-width: 700px) {
  .myprofile-section {
    width: 100%;
    height: 100%;
  }
  .about-me {
    flex-direction: column;
    height: auto;
  }
  .text-about-me {
    padding: 40px;
    border: 1px solid var(--primary);
    width: 100%;
    color: #fff;
  }
  .personal-details {
    flex-direction: column;
  }
  .mp-left-container {
    background-color: rgba(150, 150, 150, 0.5);
    height: 350px;
    padding: 10px 0;
  }
  .mp-left-container,
  .mp-right-container {
    width: 400px;
  }
}
