.myprofile-section {
  background-color: rgb(221, 221, 221);
}
.header-profile {
  text-align: center;
  padding: 30px 0;
}
.text-profile {
  color: var(--main-background);
  font-size: 17px;
}
.line-bottom {
  width: auto;
  height: 1px;
  margin: 15px 0;
  box-shadow: 0px 1px 2px 0px rgb(129, 129, 129);
}
.personal-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mp-right-container {
  line-height: 32px;
  padding: 40px;
  height: 450px;
  width: auto;
  background-color: rgb(189, 189, 189);
}
.mp-left-container {
  overflow-y: auto;
  line-height: 32px;
  padding: 40px;
  height: 450px;
  width: auto;
  background-color: rgba(189, 189, 189, 0.507);
}
.mp-left-container::-webkit-scrollbar {
  display: none;
}
