@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: "Inconsolata", monospace;
  width: 100%;
  height: auto;
}
.sections > * {
  width: auto;
  height: 100vh;
}
