@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}
.main {
  font-family: "Inconsolata", monospace;
  overflow-x: hidden;
}
/* Main Header */
.sections-main-header {
  text-align: center;
  user-select: none;
  color: rgb(138, 138, 138);
  transition: all 0.2s ease;
}
/* Header Lines */
.header-line {
  margin: 0 20px;
  width: 200px;
  height: 1px;
  background-color: rgb(112, 112, 112);
  box-shadow: 1px 1px 1px 0px rgba(39, 39, 39, 0.445);
  transition: all 0.2s ease;
}
.sections-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 80px 0;
}
